body {
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
}

.contenedor {
    border: 3px solid rgb(172, 17, 17);
    border-radius: 10px;
    padding: 15px;
    width: 440px;
    margin-bottom: 20px;
}

.titulo {
    margin: 0;
    font-size: 22px;
    font-weight: bold;
    text-align: left;
}

#botonesNumeros {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 10px;
    justify-items: center;
}

.botonNum {
    width: 45px;
    height: 35px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: white;
    font-size: 16px;
    cursor: pointer;
}

.botonNum.seleccionado {
    font-weight: bold;
    color: red;
    background-color: white;
}

.contenedorResultados {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-items: center;
}

#botonSortear {
    background-color: rgb(222, 222, 222);
    border: 1px solid rgb(101, 101, 101);
    border-radius: 5px;
    font-size: 14px;
    width: 80px;
    height: 45px;
    line-height: 1.2;
    display: flex;
    justify-content: center;
    align-items: center;
    word-wrap: break-word;
}

#resultados {
    display: flex;
    gap: 10px;
    margin-top: 10px;
    flex-wrap: nowrap;
    align-items: center;
}

.numResultado {
    width: 45px;
    height: 35px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: white;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.acierto {
    font-weight: bold;
    color: green;
}

#mensaje {
    font-size: 18px;
    margin: 0;
    text-align: left;
}